*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  /* margin-right: 20px; */
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

body, html {
  background-image: linear-gradient(to top, #b4d2d3 0%, #57b8bc 99%);
  background-repeat: no-repeat;
  height: 100%;
}

.nav-bar {
  background-color: #044553;
  height: 20%;
  display: flex;
  justify-content: space-around;
}

.logo-container {
  display: flex;
}

h1 {
  font-size: 117px;
  font-family: 'bebas neue', oswald;
  text-decoration: overline;
  color: white;
  height: 70%;
  width: 12%;
  display: flex;
  margin-top: 20px;
}

.welcome-user {
  height: 60%;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

main {
  display: flex;
  width: 100%;
  height: 80%;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  overflow: scroll visible;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 50px;
  font-family: 'Abel', sans-serif;
  color: white;
  height: 100%;
  width: 70%;
  display: flex;
  align-content: flex-end;
  flex-wrap: wrap;
  margin-top: 20px;
}

.h3-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  background-color:  rgba(225, 225, 225, 0.462);
}

.data-button {
  display: flex;
}

.new-activity-data, .activity-notes {
  background-color: rgba(87, 185, 188, 0.5019607843);
  border: 1px solid #044553;
  width: 12%;
  font-size: 20px;
  border-radius: 66px;
  height: 75%;
}

.user-data-container {
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
}

.personal-info-container {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Abel', sans-serif;
  font-size: 20px;
  border: solid 2px #044553;
  background: rgba(225, 225, 225, 0.462);
  border-radius: 20px;
  box-shadow: 9px 5px 5px #044553;
}

.movement-info-container{
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Abel', sans-serif;
  font-size: 20px;
  border: solid 2px #044553;
  background: rgba(225, 225, 225, 0.462);
  border-radius: 20px;
  box-shadow: 9px 5px 5px #044553;
}

.friends-container{
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Abel', sans-serif;
  font-size: 20px;
  border: solid 2px #044553;
  background: rgba(225, 225, 225, 0.462);
  border-radius: 20px;
  box-shadow: 9px 5px 5px #044553;

}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 90%;
  margin-bottom: 15px;
}

.gate-info-container, .all-users-step-goal-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 90%;
}

.stride-length-container, .daily-step-goal-container {
   display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
} 

.friend-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 90%;
}

.user-info-title, .movement-info-title, .friend-list-title {
  font-family: 'Abel', oswald;
  font-size: 25px;
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #57b9bc80;
  border-radius: 20px;
}

.movement-info-quote, .user-info-quote, .friends-list-quote {
  margin-bottom: 10px;
  font-family: 'bebas neue';
  margin-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #57b9bc80;
  border-radius: 20px;
}

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin-top: 30px;
  margin-bottom: 20px;
}

.hydration-container {
  height: 40vh;
  width: 90vw;
  border: solid 5px #044553;
  display: flex;
  flex-direction: column;
  font-family: 'Abel', sans-serif;
  font-size: 25px; 
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 20px;
  box-shadow: 10px 5px 5px #044553
}

.sleep-container, .activity-container {
  height: 55vh;
  width: 90vw;
  border: solid 5px #044553;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Abel', sans-serif;
  font-size: 25px; 
  margin-bottom: 25px;
  border-radius: 20px;
  box-shadow: 10px 5px 5px #044553;
}

.activity-container {
  height: 88vh;
}
.health-stats-activity-sentences, .health-stats-sleep-stats-sentences {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.health-stats-hydration-sentences {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.today-container, .daily-water-sentences {
  margin-top: 10px;
}

.all-time-sleep-stats-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}

.all-time-sleep-quality-container, .all-time-sleep-hours-container{
  display: flex;
  
}

.daily-steps-container, .daily-active-min-container, .daily-miles-container {
  display: flex;
}


.activity-notes-display{
  /* border: 3px solid red; */
  display: flex;
  justify-content: space-between;
  width: 95%;
  height: 50%;
  margin-top: 15px;
}

.form-container {
  /* border: 3px solid blue; */
  display: flex;
  width: 35%;
}

.activity-type-container{
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.notes-container{
  display: flex;
  flex-direction: row;
}

.activity-type-label-container{
  display: flex;
  width: 150px;
  /* border: 3px solid black; */
}

.activity-type-input-container{
  display: flex;
  /* border: 3px solid black; */

}

.activity-notes-label-container{
  display: flex;
  width: 150px;
  /* border: 3px solid black; */
}

.activity-notes-input-container{
  display: flex;
  /* border: 3px solid black; */
}


.activity-form {
  display:flex;
  font-family: 'Abel', sans-serif;
  font-size: 20px;
  opacity: .8;
  margin-top: 15px;
}

.note-submit-button{
margin-left: 150px;
margin-top: 10px;
}

.submit-button{
  display:flex;
}

.display-notes-container{
  display:flex;
  width: 60%;
  height: 70%;
  background: rgba(225, 225, 225, 0.462);
  border: solid 3px #044553;

}

.daily-steps-self-input, .daily-active-mins-self-input, .daily-stairs-flights-self-input {
  margin-right: 15px;
  font-family: 'Abel', sans-serif;
  font-weight: bold;
}

input, label {
  border-radius: 8px;
  font-family: 'Abel', sans-serif;
}

button:hover {
  font-family: 'Abel', sans-serif;
  color:#044553;
  border: 3px solid #57b8bc;
  opacity: 1;
}

.grid-calendar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.calendar-top {
  width: 95%;
  display: grid;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
  background-color: #044553;
  border-radius : 10px;
}

.weekly-hydration-stats, .weekly-step-count-goal, .weekly-sleep-stats {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  position: inherit;
  grid-gap: 0px;
  border: 3px solid #044553;
  grid-template-rows: auto auto;
  align-items: center;
  width: 95%;
}

.data {
  border-top: 1px solid #044553;
  border-right: 1px solid #044553;
  text-align: center;
  font-size: 25px;
}

.lables, .date {
  color: white;
  background-color: #044553;
  text-align: center;
  font-size: 25px;
}

.data-last {
  border-top: 1px solid #044553;
  text-align: center;
}

.hidden {
  display: none !important;
}

.replacement-form-image {
  width: 50%;
  opacity: 30%;
}